Repository LiteLDev/LeviLamina, pull requests merged in 2023-01, with the labels that each got.

#978 修复监听不到末影龙重生的bug
  LiteLoader/src/llapi/EventAPI.cpp
Labels: type: bug, module: LiteLoader, status: need review

#979 Add CommandOutputParameters support for LLSE
  ScriptEngine/src/api/CommandOutputAPI.cpp
Labels: type: enhancement, module: LiteLoader

#1001 Add asEntity,asItem,asPlayer,asContainer into NativePointer class for…
  ScriptEngine/src/api/NativeAPI.h
  ScriptEngine/src/api/NativePointer.cpp
Labels: type: enhancement, module: script engine

#1020 adjust offlineScoreAPI
  LiteLoader/src/llapi/scoreboard/ScoreboardAPI.cpp
  ScriptEngine/src/api/PlayerAPI.cpp
Labels: type: enhancement, module: LiteLoader

#1032 add deletePlayerScore for LL&LLSE
  LiteLoader/include/llapi/mc/Scoreboard.hpp
  LiteLoader/src/llapi/scoreboard/ScoreboardAPI.cpp
  ScriptEngine/src/api/McAPI.cpp
  ScriptEngine/src/api/McAPI.h
  ScriptEngine/src/api/PlayerAPI.cpp
Labels: type: enhancement, module: script engine, module: LiteLoader
