Repository LiteLDev/LeviLamina, pull requests merged in 2023-02, with the labels that each got.

#1081 fix: #1040
  ScriptEngine/src/api/DataAPI.cpp
Labels: type: bug, module: script engine

#1084 feat: add enum class TargetSelectionMethod
  LiteLoader/include/llapi/mc/inc/enums.inc
Labels: type: enhancement, module: LiteLoader

#1079 fix: #1050
  LiteLoader/include/llapi/EventAPI.h
  LiteLoader/src/llapi/EventAPI.cpp
  ScriptEngine/src/api/EventAPI.cpp
Labels: type: bug, module: script engine, module: LiteLoader

#1087 feat: add get/setTime() get/setWeather() api
  ScriptEngine/src/api/McAPI.cpp
  ScriptEngine/src/api/McAPI.h
  ScriptEngine/src/api/ServerAPI.cpp
Labels: type: enhancement, module: script engine

#1080 feat: add members for HopperSearchItemEvent & HopperPushOutEvent
  LiteLoader/include/llapi/EventAPI.h
  LiteLoader/src/llapi/EventAPI.cpp
  ScriptEngine/src/api/EventAPI.cpp
Labels: type: enhancement, module: script engine, module: LiteLoader
