Repository LiteLDev/LeviLamina, pull requests merged in 2023-03, with the labels that each got.

#1098 feat: add PosDelta for entity in LLSE
  LiteLoader/include/llapi/mc/Actor.hpp
  LiteLoader/include/llapi/mc/BlockPos.hpp
  LiteLoader/include/llapi/mc/Vec3.hpp
  LiteLoader/include/llapi/mc/VectorBase.hpp
  LiteLoader/src/llapi/mc/ActorAPI.cpp
  LiteLoader/src/llapi/mc/SimulatedPlayerAPI.cpp
  ScriptEngine/src/api/EntityAPI.cpp
  ScriptEngine/src/api/EntityAPI.h
Labels: type: enhancement, module: script engine

#1107 fix: #1088
  LiteLoader/src/llapi/EventAPI.cpp
Labels: type: bug, module: script engine

#1099 feat: rename `pl.sneaking` & add `be.name` for LLSE
  ScriptEngine/src/api/BlockEntityAPI.cpp
  ScriptEngine/src/api/BlockEntityAPI.h
  ScriptEngine/src/api/PlayerAPI.cpp
  ScriptEngine/src/api/PlayerAPI.h
Labels: type: enhancement, module: script engine

#1105 feat: #1011
  ScriptEngine/src/api/PlayerAPI.cpp
  ScriptEngine/src/api/PlayerAPI.h
Labels: type: enhancement, module: script engine

#1128 Add nodiscard and tryUnwrap
  LiteLoader/include/llapi/mc/BlockPos.hpp
  LiteLoader/include/llapi/mc/ChunkPos.hpp
  LiteLoader/include/llapi/mc/EntityContext.hpp
  LiteLoader/include/llapi/mc/EntityContextBase.hpp
  LiteLoader/include/llapi/mc/OwnerStorageEntity.hpp
  LiteLoader/include/llapi/mc/SubChunkPos.hpp
  LiteLoader/include/llapi/mc/Vec2.hpp
  LiteLoader/include/llapi/mc/Vec3.hpp
  LiteLoader/include/llapi/mc/VectorBase.hpp
  LiteLoader/include/llapi/mc/WeakEntityRef.hpp
  LiteLoader/include/llapi/mc/WeakStorageEntity.hpp
  LiteLoader/src/liteloader/BuiltinBugFix.cpp
  LiteLoader/src/llapi/EventAPI.cpp
  LiteLoader/src/llapi/mc/ActorAPI.cpp
  LiteLoader/src/llapi/mc/BlockSourceAPI.cpp
  LiteLoader/src/llapi/mc/SimulatedPlayerAPI.cpp
Labels: type: enhancement, module: LiteLoader

#1118 feat #1112
  LiteLoader/include/llapi/mc/Player.hpp
  LiteLoader/src/llapi/mc/PlayerAPI.cpp
  ScriptEngine/src/api/PlayerAPI.cpp
  scripts/install.sh
Labels: type: enhancement, module: script engine, module: LiteLoader
